@import '~antd/dist/antd.css';

.billing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  background-color: lightgray;
}



.order-wrapper {
  margin: 3rem;
  background-color: lightgray;
  text-decoration-line: underline;
}

.order-title {
 
}

.order-items {

}

.order-footer {
  
}

