@import "~antd/dist/antd.css";

.billing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
}

.order-wrapper {
  font-size: 1rem;
  padding: 1rem;
  text-decoration-line: underline;
}

.positionFixed {
  position: fixed;
  right: 0;
  top: 4rem;
  padding: 2rem;
  width: 50%;
}

@media screen and (max-width: 980px) {
  .positionFixed {
    position: static;
    bottom: 5rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .positionFixed {
    position: static;
    bottom: 5rem;
    width: 100%;
  }
}

.loggo {
  color: white;
  animation: back 6s ease-in infinite alternate;
}

@keyframes back {
  from {
    color: black;
  }

  to {
    color: #1690ff;
  }
}
